<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutusCss.css') }}">
    <title>Meet Our Team</title>
    <style>
        .team-member {
            margin-bottom: 30px;
        }

        .card {
            opacity: 0.8;
            /* Adjust the opacity value as needed (0.0 to 1.0) */
        }

        .card:hover {
            opacity: 1;
            /* Set opacity to 1 on hover (optional) */
        }
    </style>
</head>

<body>
    <div class="container">
        <h3 class="team-heading text-center my-4" style="color: rgb(124, 116, 116);">Meet Our Team</h3>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/ayushree.jpg') }}"
                        class="memberImg card-img-top rounded-circle" alt="Ayushree Kharel">
                    <div class="card-body">
                        <h5 class="card-title">Ayushree Kharel</h5>
                        <p class="card-text">Computer Engineering Student</p>
                        <p class="card-text">Khwopa College of Engineering</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/kriti.jpg') }}"
                        class="memberImg card-img-top rounded-circle" alt="Kriti Gyamaru">
                    <div class="card-body">
                        <h5 class="card-title">Kriti Gyamaru</h5>
                        <p class="card-text">Computer Engineering Student</p>
                        <p class="card-text">Khwopa College of Engineering</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/yurika.jpg') }}"
                        class="memberImg card-img-top rounded-circle" alt="Yurika Prajapati">
                    <div class="card-body">
                        <h5 class="card-title">Yurika Prajapati</h5>
                        <p class="card-text">Computer Engineering Student</p>
                        <p class="card-text">Khwopa College of Engineering</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>