<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginCss.css') }}">
</head>


<body>


    

    <h2>TRIPZY</h2>
    <h3>Fast, secure and cheaper shipping solution</h3>
    

    <form action="/form_login" method="post">


        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>

    <h6>Don't have an account?</h6>
    <a href="/create_account">Sign up</a>

    {% if error %}
    <p style="color: rgb(19, 9, 9);font-weight: bold; font-size: 18px;">{{ error }}</p>
    {% endif %}


    <h1>{{info}}</h1>
</body>

</html>